<h1>New Itinerary</h1>
<%= form_for(Itinerary.new, html: {role: 'form'}) do |f| %>
	<div class="form-group">
		<%= f.label :location, class: 'form-control' %>
		<%= f.text_field :location, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :travel_on, class: 'control-label' %>
		<%= f.date_field :travel_on, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.submit class: "btn btn-lg btn-primary" %>
	</div>
<% end %>